body {
    background-color: rgb(82, 78, 78);
    width: 300px;
    height: 800px;
}
.navbar {
    background-color: black;
    align-items: center;
    text-align: center;
}
.navbar img {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid green;
}
.navbar ul {
    list-style-type: none;
    padding: 10px;
}
.navbar ul li {
    display: inline;
    vertical-align: middle;
    padding: 10px;
}
.navbar ul li a {
    /* display: block; */
    color: black;
    background-color: white;
    border: 1px solid green;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}
.notes {
    width: 300px;
    position: fixed;
    margin-top: 0;
}
.notes .content {
    width: 300px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 330px;
    background-color: black;
    color: white;
    text-align: center;
}
